# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Node / Next.js
# =========================
node_modules/
.next/
out/
coverage/

# =========================
# Java / Spring Boot
# =========================
target/
build/
*.class

# Maven
.mvn/timing.properties

# Gradle
.gradle/

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# PostgreSQL
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Temporary Files
# =========================
*.tmp
*.temp
*.swp

# =========================
# Package Managers
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
.postman/
postman/